KarmaSushi/KarmaClient/Connected Services/ProductServiceRef/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="tns:Category" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:simpleType name="Category">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Appetizer" />
      <xs:enumeration value="MainCourse" />
      <xs:enumeration value="Dessert" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>