KarmaSushi/KarmaClient/Connected Services/ProductServiceRef/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceKarma/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductServices_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetProductById_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetProductByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByName" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetProductByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetProductByName_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductServices_GetAllProducts_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:portType name="IProductServices">
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServices/GetProductById" message="tns:IProductServices_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServices/GetProductByIdResponse" message="tns:IProductServices_GetProductById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductServices/GetProductByIdErrorFault" name="ErrorFault" message="tns:IProductServices_GetProductById_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServices/GetProductByName" message="tns:IProductServices_GetProductByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServices/GetProductByNameResponse" message="tns:IProductServices_GetProductByName_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductServices/GetProductByNameErrorFault" name="ErrorFault" message="tns:IProductServices_GetProductByName_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductServices/GetAllProducts" message="tns:IProductServices_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductServices/GetAllProductsResponse" message="tns:IProductServices_GetAllProducts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IProductServices/GetAllProductsErrorFault" name="ErrorFault" message="tns:IProductServices_GetAllProducts_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductServices" type="tns:IProductServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IProductServices/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <soap:operation soapAction="http://tempuri.org/IProductServices/GetProductByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductServices/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductServices" binding="tns:BasicHttpBinding_IProductServices">
      <soap:address location="http://localhost/ServiceKarma/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>