KarmaSushi/KarmaWeb/Connected Services/OrderServiceRef/OrderManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceKarma/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderService_GetOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderById" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetOrderById_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_GetAllOrders_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IOrderService_InsertOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_InsertOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_InsertOrder_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ModifyOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ModifyOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_ModifyOrder_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderService_DeleteOrder_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q5:Error" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderById" message="tns:IOrderService_GetOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderByIdResponse" message="tns:IOrderService_GetOrderById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/GetOrderByIdErrorFault" name="ErrorFault" message="tns:IOrderService_GetOrderById_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" message="tns:IOrderService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" message="tns:IOrderService_GetAllOrders_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersErrorFault" name="ErrorFault" message="tns:IOrderService_GetAllOrders_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/InsertOrder" message="tns:IOrderService_InsertOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/InsertOrderResponse" message="tns:IOrderService_InsertOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/InsertOrderErrorFault" name="ErrorFault" message="tns:IOrderService_InsertOrder_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/ModifyOrder" message="tns:IOrderService_ModifyOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/ModifyOrderResponse" message="tns:IOrderService_ModifyOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/ModifyOrderErrorFault" name="ErrorFault" message="tns:IOrderService_ModifyOrder_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/DeleteOrder" message="tns:IOrderService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderResponse" message="tns:IOrderService_DeleteOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOrderService/DeleteOrderErrorFault" name="ErrorFault" message="tns:IOrderService_DeleteOrder_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderService" type="tns:IOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrderById">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/InsertOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ModifyOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/ModifyOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrderService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManager">
    <wsdl:port name="BasicHttpBinding_IOrderService" binding="tns:BasicHttpBinding_IOrderService">
      <soap:address location="http://localhost/ServiceKarma/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>