KarmaSushi/KarmaClient/Connected Services/CategoryServiceRef/CategoryManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CategoryManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceKarma/CategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/CategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/CategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryService_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetCategoryById_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryService_GetAllCategories_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:portType name="ICategoryService">
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryById" message="tns:ICategoryService_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryByIdResponse" message="tns:ICategoryService_GetCategoryById_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICategoryService/GetCategoryByIdErrorFault" name="ErrorFault" message="tns:ICategoryService_GetCategoryById_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategories" message="tns:ICategoryService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategoriesResponse" message="tns:ICategoryService_GetAllCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICategoryService/GetAllCategoriesErrorFault" name="ErrorFault" message="tns:ICategoryService_GetAllCategories_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryService" type="tns:ICategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryManager">
    <wsdl:port name="BasicHttpBinding_ICategoryService" binding="tns:BasicHttpBinding_ICategoryService">
      <soap:address location="http://localhost/ServiceKarma/CategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>