KarmaSushi/KarmaWeb/Connected Services/ProductServiceRef/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServiceKarma/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetProductByNameResult" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q3:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>