KarmaSushi/KarmaClient/Connected Services/ReservationServiceRef/ReservationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServiceKarma/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="InsertReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="reservation" nillable="true" type="q1:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="InsertReservationResult" nillable="true" type="q2:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetAllReservationsResult" nillable="true" type="q3:ArrayOfReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="reservation" nillable="true" type="q4:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="UpdateReservationResult" nillable="true" type="q5:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="reservation" nillable="true" type="q6:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="DeleteReservationResult" nillable="true" type="q7:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>