KarmaSushi/KarmaClient/Connected Services/TableServiceRef/TableManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TableManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServiceKarma/TableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/TableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost/ServiceKarma/TableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITableServices_InsertTable_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTable" />
  </wsdl:message>
  <wsdl:message name="ITableServices_InsertTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTableResponse" />
  </wsdl:message>
  <wsdl:message name="ITableServices_InsertTable_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAllTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTables" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAllTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTablesResponse" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAllTables_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetTablesBySeats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesBySeats" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetTablesBySeats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTablesBySeatsResponse" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetTablesBySeats_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAvailableTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTables" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAvailableTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTablesResponse" />
  </wsdl:message>
  <wsdl:message name="ITableServices_GetAvailableTables_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Model" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:portType name="ITableServices">
    <wsdl:operation name="InsertTable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableServices/InsertTable" message="tns:ITableServices_InsertTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableServices/InsertTableResponse" message="tns:ITableServices_InsertTable_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITableServices/InsertTableErrorFault" name="ErrorFault" message="tns:ITableServices_InsertTable_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableServices/GetAllTables" message="tns:ITableServices_GetAllTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableServices/GetAllTablesResponse" message="tns:ITableServices_GetAllTables_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITableServices/GetAllTablesErrorFault" name="ErrorFault" message="tns:ITableServices_GetAllTables_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTablesBySeats">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableServices/GetTablesBySeats" message="tns:ITableServices_GetTablesBySeats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableServices/GetTablesBySeatsResponse" message="tns:ITableServices_GetTablesBySeats_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITableServices/GetTablesBySeatsErrorFault" name="ErrorFault" message="tns:ITableServices_GetTablesBySeats_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTables">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableServices/GetAvailableTables" message="tns:ITableServices_GetAvailableTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableServices/GetAvailableTablesResponse" message="tns:ITableServices_GetAvailableTables_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITableServices/GetAvailableTablesErrorFault" name="ErrorFault" message="tns:ITableServices_GetAvailableTables_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITableServices" type="tns:ITableServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTable">
      <soap:operation soapAction="http://tempuri.org/ITableServices/InsertTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllTables">
      <soap:operation soapAction="http://tempuri.org/ITableServices/GetAllTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTablesBySeats">
      <soap:operation soapAction="http://tempuri.org/ITableServices/GetTablesBySeats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTables">
      <soap:operation soapAction="http://tempuri.org/ITableServices/GetAvailableTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TableManager">
    <wsdl:port name="BasicHttpBinding_ITableServices" binding="tns:BasicHttpBinding_ITableServices">
      <soap:address location="http://localhost/ServiceKarma/TableService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>